section.jumbotron {
    padding-top: 6rem;
	background: url("img/lp-jumbo-bg.jpg"), $black;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 0;
    color: white;
}

a {
	transition: all 0.35s;
	color: $main-color;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $main-color-dark;
	}
}
nav {
	li:first-child {
		margin-right: auto;
	}
	a {
		color: white;
	}
	&.scrolled-down {
		background-color: rgba(255, 255, 255, 0.96);
		border-color: rgba(34, 34, 34, 0.05);
		transition: all 0.35s;
		a {
			color: $gray-black;
			&:hover,
			&:focus {
				color: $main-color-dark;
			}
		}
	}
}
footer {
	background-color: $black;
	padding: 1rem 0;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
}
::selection {
	color: white;
	text-shadow: none;
	background: $black;
}
img::selection {
	color: white;
	background: transparent;
}