/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
resources/assets/js/.DS_Store
/resources/Listo/.DS_Store
/resources/Listo/node_modules/
/resources/Listo/dist/
/resources/Listo/npm-debug.log
/resources/Listo/npm-debug.log.*
/resources/Listo/selenium-debug.log
/resources/Listo/test/unit/coverage
/resources/Listo/test/e2e/reports
/resources/Listo/cordova/platforms
/resources/Listo/cordova/plugins
/resources/Listo/thumbs.db
/resources/Listo/!.gitkeep
/resources/Listo/ngrok

resources/Listo/node_modules/.bin/jsesc

/pwas/Listo/.DS_Store
/pwas/Listo/.thumbs.db
/pwas/Listo/node_modules/
/pwas/Listo/dist/
/pwas/Listo/npm-debug.log*
/pwas/Listo/cordova/platforms
/pwas/Listo/cordova/plugins
