@mixin tag($colour) {
    align-items: center;
    display: flex;
    position:relative;
    padding: 0.3em 0.5em;
    margin: 0.1em;
    border-radius: 0.3em;
    color: white;
    background-color: $colour;
    min-height: 2.1em;
    font-size: 0.7em;
}

label{
    font-weight: 300;
}
.toggle-div{
    margin-right: 0.3em;
    div, input{
        margin: 0; // reset margins
        height: auto;
        width: 1.6em;
    }
}
.toggle{
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none !important;
}
.toggle:after{
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="none" stroke="#e6e6e6" stroke-width="3"/></svg>');
}
.toggle:checked:after{
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.styled-check{
    display: none; 
    cursor: pointer;
}
.styled-check + .arrow:before{
    position: absolute;
    content: "";
    display: block;
    top: 25%;
    left: 30%;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    transform: rotateZ(-135deg);
    width: 0.5em;
    height: 0.5em;
    transition: transform 0.3s ease-in-out;
}
.styled-check:checked + .arrow:before{
    transform: rotateZ(-45deg);
}
.arrow{
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
}
.project{
    >.bodybox{
        font-weight: 600;
    }
}
.bodybox{
    padding: 0.5em;
    display: inline-block;
    white-space: pre-line;
    word-break: break-word;
    display: flex;
    flex-direction: column;
}
.selected{
    background: $selection-color;
}
.navigation{
    display: flex;
    margin-bottom: 0.2em;
    a{
        text-decoration: none;
        color: #4d4d4d;
        margin: 0em 0.2em;
        padding: 0.3em;
    }
    .active{
        color: $theme-color;
    }
    .filtered-out{
        text-decoration: line-through;
        color: $duedate-color;
    }
    .menu{
        display: flex;
    }
    .tag-menu{
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
.card{
    margin: 0.5em;
}
.line{
    width: 100%;
    height: 1px;
    border-top: 1px #ededed solid;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px #ededed solid;
    padding: 0.4em;
    >div{
        margin: 0.2em;
    }
    >div>div{
        position: relative;
        padding: 0.2em 0.5em;
        border-radius: 0.3em;
        color: white;
        font-size: 0.9em;
    }
    .used-time{
        background: $used-time-color;
    }
    .time-left{
        background: $duration-color-dark;
    }
    .children-amount{
        background: $theme-color;
    }
    .done-children-amount{
        background: $done-color;
    }
}
.scrolled-down .stats{
    margin-top: 26px;
}
.panel-title{
    text-align: center;
    font-size: 1.2em;
    padding: 6px 0 0;
}
.hidden-tags{
    text-decoration: line-through;
}
.scrolled-down .panel-title{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100vw;
    align-content: inherit;
    z-index: 4;
}
.item-nav{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button{
        background: none;
        border: none;
        font-size: 1.5em;
        color: $theme-color;
    }
    .delete{
        color: rgba(231, 76, 60, 0.3);
    }
}
.panel-body{
    background: white;
    padding: 1em;
}
.children .children{
    margin-left: 2em;
}
.item-card{
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
}

.item-tags{
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .done{
        @include tag(#e6e6e6);
        cursor: pointer;
        color: #5a5a5a;
    }
    .duration, .currentDuration{
        @include tag($duration-color);
    }
    .duedate{
        @include tag($duedate-color);
    }
    .duedate-parent{
        @include tag($duedate-parent-color);
    }
    .total-duration{
        @include tag($duration-color-dark);
    }
    .custom-tag{
        @include tag($theme-color);
        cursor: pointer;
    }
    button{
        color: white;
        margin-left: 0.5em;
        padding: 0;
    }

}
.done .bodybox{
    color: #d9d9d9;
    >div:first-child{
        text-decoration: line-through;
    }
}
.completion-notes{
    color: #a2999a;
    padding: 2px 0 0 2em;
    width: 100%;
    background: none !important;
}
form.addnewbox{
    margin-left: 1.9em;
    border-bottom: thin solid rgba(245, 215, 110, 0.7);
}
form.addnewbox.child{
    margin-left: 3.8em;  
}
// form.addnewbox.first-child{
//     order:2;
// }
// CODEMENTOR why doesn't this work?
.item-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    >form, >div{
        width: 100%;
    }
}
.body-div{
    border-bottom: 1px solid #ededed;
    width: 100%;
    display: flex;
    align-items: center;
    >span{
        display:inline-flex;
    }
}

.updatebox{
    width: 100%;
}
.updatebox, .addnewbox{
    >div:first-child{
        display: flex;
        align-items: center;
        border: $selection-color solid thin;
    }
    textarea, input{
        outline: 0px !important;
        padding: 0.5em;
        resize: none;
    }
    textarea{
        width: 100%;
    }
    .tag{
        color: black;
        background: #eaeaea;
    }

}
.update-tags{
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    >div{
        margin: 0.3em;
    }
    input{
        font-size: 1em;
        padding: 0.1em;
        margin-right: 0.3em;
    }
    .update-planned-time{
        display: flex;
        align-items: baseline;
        label:after {content: 'min';position: absolute;margin-left: -2em;}
        input{
            border-bottom: 1px solid $duration-color;
            width: 2em;
            text-align: center;
            padding: 0;
        }
        button{
            color: $duration-color;
            font-size: 1em;
            padding: 0 0.2em;
            min-height: 2.1em;
        }
        .currentDuration{
            background: $duration-color;
            padding: 0.1em 0.5em;
            margin: 0.1em;
            border-radius: 0.3em;
            color: white;
        }
    }
    // .update-custom-tags input{
    //     border-bottom: 1px solid $theme-color;
    // }
}
.editing{
    .selected{
        background: none;
    }
    .body-div{
        flex-direction: column;
        align-items:flex-start;
        padding-bottom: 0.4em;
        border-bottom: thin solid rgba(245, 215, 110, 0.7);
    }
}
.body-div.updating-tags{
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    padding-bottom: 0.4em;
    background: none;
    border-bottom: thin solid rgba(245, 215, 110, 0.7);
    .updatebox{
        margin: 0 auto;
        background: white;
        border: thin solid rgba(245, 215, 110, 0.7);
    }
    .bodybox{
        width: 100%;
        background: $selection-color;
    }
    .item-tags{
        margin-top: 0.3em;
    }
}
.add-prepared-tag-wrapper>label,
.add-tag-wrapper>label {
    display: flex;
    align-items: baseline;
}
.add-tag-wrapper>label {
    font-size: 0.85em;
    margin-left: 0.3em;
}
input.add-tag, input.prepare-tag{
    @include tag($theme-color);
    margin-left: 0.3em;
    min-width: 3em;
}
input.prepare-tag::-webkit-input-placeholder,
input.add-tag::-webkit-input-placeholder {
    color: white;
}
