$selection-color: rgba(245,215,110,0.5);
$theme-color: #5dc2af;
$duration-color: #5dacce;
$duration-color-dark: #4679a7;

label{
    font-weight: 300;
}


.navigation{
    button{
        background: none;
        border: none;
    }
    .active{
        color: $theme-color;
    }
}
.card{
    margin: 0.5em;
}
.card-title{
    text-align: center;
}
.item-nav{
    margin-left: auto;
}
.item-nav>button {
    background: none;
    border: none;
    font-size: 1.6em;
    color: rgba(231, 76, 60, 0.3);
}
.panel-body{
    background: white;
}
.panel-body>.items-card>.children .children {
    margin-left: 2em;
}
.item-card {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
}
.body-div{
    border-bottom: 1px solid #ededed;
    width: 100%;
    display: flex;
    align-items: center;
    span{
        display:table;
    }
}

.child{
    margin-left: 1.5em;
}

.add-item {
    padding: 0.5em;
    width: 100%;
    border-bottom: dashed 1px #ededed;
    resize: none;
}
.updatebox {
    width: 100%;
    display: flex;
    align-items: baseline;
    textarea, input{
        outline: 0px !important;
        border-color: $selection-color;
        resize: none;
    }
    textarea{
        width: 100%;
    }
    input{
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
        background: $duration-color;
        color: white;
        width: 44px;
    }
    span{
        font-size: 0.85em;
        width: 145px; // codementor
    }
    label{
        padding-right: 0.2em;
    }
}
.toggle-div{
    width: 2em;
    div, input{
        margin: 0; // reset margins
    }
}
.toggle {
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none !important;
}
.toggle:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
    transform: scale(0.7);
    display: block;
    margin: 0 0 0 -1em;
}
.toggle:checked:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    transform: scale(0.7);
    display: block;
    margin: 0 0 0 -1em;
}
.bodybox{
    padding: 0.5em;
    display: inline-block;
    white-space: pre-line;
}
.editing .bodybox{
    display: none;
}
.done .bodybox{
    color: #d9d9d9;
    text-decoration: line-through;
}
.selected .bodybox{
    background: $selection-color;
}
.item-tags {
    display: flex;
    font-size: 0.85em;
    span {
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
    }
    .done {
        color: #5a5a5a;
        background: #e6e6e6;
    }
    .duration {
        background: $duration-color;
        color: white;
    }
    .total-duration{
        background:$duration-color-dark;
        color: white;
    }
    .total-duration:before {content: 'total ';}
}
