#popups{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
	background: rgba(248,248,248,0.95);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.popup {
    padding: 0.6em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
	.top{
	    width: 100%;
		display: flex;
	    align-items: center;
	    margin-bottom: 0.5em;
	}
    .title{
	    font-weight: 600;
        margin: 0 auto;
    }
    .body{
    	display: flex;
    	flex-grow: 1;
    }
	input, textarea{
		@include text-settings();
		padding: 0.3em;
	    margin-right: 1em;
	    background: none;
	    border: 1px solid rgb(146, 146, 146);
	    border-radius: 0.3em;
	}
	label.done-after-done {
        cursor: pointer;
	    font-weight: inherit;
	    border-bottom: 1px solid;
		input {
		    border: none;
		}
	}
	.completion-memo{
		display: flex;
		flex-direction: column;
		flex-grow: 2;
		margin-right: 0.3em;
	}
}
.close-button {
    padding-left: 0.5em;
    font-size:2em;
	color:black;
}
.popup .used-time{
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	span{
		font-size: 1.4em;
		margin-left: 1em;
	}
	>div>div{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
	}
	button{
	    padding: 0.3em 0.3em 0;
	}

	// input{
	// 	width: 60px;
	// }
}
