// Fixes for iOS Safari
button {
	padding: 0;
}
input, textarea {
	border-radius: 0;
}
input:not([type=checkbox]):not([type=radio]), textarea{
	-webkit-appearance: none;
	box-shadow: none;
}

html, body { height:100vh; width:100vw; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 14px;
}
.mobile{
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select:focus,
	textarea {
	  font-size: 16px !important;
	}
}