*,*:before,*:after {
	box-sizing: border-box;
}
@mixin text-settings() {
	font-family: 'Calibri', 'Lato';
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	resize: none;
}

[v-cloak] {
	display: none;
}

body {
	@include text-settings();
	background: #f5f5f5;
	margin: 0;
}
form {
    margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea{
	@include text-settings();
	outline: none;
    border-style: none;
}
button{
	@include text-settings();
    cursor: pointer;
	color: $theme-color;
    background: none;
    border: none;
	border-bottom: 1px solid transparent;
}
button:focus {
    // outline: -webkit-focus-ring-color auto 5px;
    outline: none;
    border-bottom: 1px solid;
}
#loading-icon{
	z-index: 4;
	position: fixed;
    right: 1em;
    top: 1em;
    img{
	    width: 30px;
	    height: 30px;
    }
    .patching-error{
    	color: rgba(230, 94, 77, 1);
	    font-weight: 600;
	}
}