*,*:before,*:after {
	box-sizing: border-box;
}
@mixin text-settings() {
	font-family: 'Calibri', 'Lato';
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	resize: none;
}

body {
	@include text-settings();
	background: #f5f5f5;
	margin: 0;
}
button{
	@include text-settings();
	color: $theme-color;
}
form {
    margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea{
	@include text-settings();
	outline: none;
    border-style: none;
}
button:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
#loading-icon{
	position: fixed;
    right: 1em;
    top: 1em;
    width: 30px;
    height: 30px;
}