*,*:before,*:after {
	box-sizing: border-box;
}


body {
	font-family: 'Calibri', 'Lato';
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
	font-size: 14px;
}
form {
    margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea{
	font-size: 14px ;
	outline: none;
    border-style: none;
}