
.o-btn{
    @include text-settings();
    cursor: pointer;
    color: $theme-color;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    &:focus {
        outline: none;
        border-bottom: 1px solid;
    }
}
.o-btn--warning{
    color: $duedate-color;
}