.u-color-success{
    color: $color-success;
}
.u-lightgray{
    color: $light-gray !important; 
}
.u-disabled{
    color: $border-gray;
}
.u-selected{
    background: $selection-color;
}
.u-selected--editing{
    background: none;
}
.u-line{
    width: 100%;
    height: 1px;
    border-top: 1px $border-gray solid;
}

.l-fullwidth, .l-w100{
    width: 100%;
}
.w-100{
    width: 100%;
}
.d-inline-flex{
    display: inline-flex;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.ml-auto{
    margin-left: auto;
}